<h2>A list of your trips</h2>
<h3>trips#index</h3>

<ul>
    <% @trips.each do |trip| %>
        <li>
            <h4><%= trip.start_address %></h4> to <h4><%= trip.end_address%></h4>
        </li>
        <ul>
            <li>
                Date: <%= trip.created_at.strftime("%-m/%-d/%Y") %>
            </li>
            <li>
                Start Address: <%= trip.start_address_label %>
            </li>
            <li>
                Start Station: <%= trip.start_station_label %>
            </li>
            <li>
                End Address: <%= trip.end_address_label %>
            </li>
            <li>
                End Station: <%= trip.end_station_label %>
            </li>
            <li>
                Total Distance: <%= trip.total_distance %> miles
            </li>
        </ul>
    <%= link_to "Trip Details", user_trip_path(:id => trip.id), class: 'button' %>
    <%= link_to "Delete Trip", user_trip_path(current_user, trip), method: :delete, class: 'button' %>
    <% end %>
</ul>

<%= link_to "Back", new_user_trip_path(current_user), class: 'button' %>
