

<div class="sixteen columns header">
    <h1>peddlr</h1>
</div>



<div class="sixteen columns form">
    <%= form_for @user do |f| %>
        <%= f. text_field :name, :placeholder => "name" %>
        <%= f. text_field :email, :placeholder => "email" %>
        <%= f.text_field :email_confirmation, :placeholder => "email confirmation" %>
        <%= f.password_field :password, :placeholder => "password" %>
        <%= f.password_field :password_confirmation, :placeholder => "password confirmation" %>
        <%= f.submit "Create Account" %>
    <% end %>

    <%= link_to "Already have an account?", log_in_path, class: 'button' %>
</div>

<% if @user.errors.any? %>
    <div class="sixteen columns errors">
        <h4 class="error-count">
            The form has <%= pluralize(@user.errors.count, "error") %>.
        </h4>
        <ul class= "error-list">
            <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>        
    </div>
<% end %>


