<h3>users#show</h3>

<h2><%= current_user.name %></h2>
<h3><%= current_user.email %></h3>

<h3>This is your profile</h3>

<ul>
    <li>
        Name: <%= @user.name %>
    </li>
    <li>
        Email: <%= @user.email %>
    </li>
    <li>
        Number of Trips: <%= @user.trips.count %>    
    </li>
    
</ul>

<%= link_to "Edit Account Details", edit_user_path, class: 'button' %>


<%= link_to "Back", root_path, class: 'button' %>
